<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rjar.www.dao.IchampionDao">
   
   <select id="getChampionList" resultType="Champion">
   SELECT CHAMPIONNAME, CHAMPIONID, CHAMPION_KR_NAME 
   FROM STATS_SKILL_DATA
   ORDER BY CHAMPION_KR_NAME
   </select>
<!--    CHAMPIONID : 첫페이지 이후 검색할 때의 파라미터용 -->
   <select id="getTierList" resultType="Champion">
   	SELECT CHAMPIONNAME, CHAMPION_KR_NAME, WINRATE, PICKRATE, 
   	BANRATE, COUNTER1, COUNTER2, COUNTER3 
   	FROM ${tier}_DETAIL
	WHERE LANE = #{lane} AND PICKRATE!=0 AND
	WINRATE !=0
   </select>
   
</mapper>